.node-red/flows_SmartRetailsMBP.json
[{"id":"8943aa69.5a2268","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b902b74b.fd5608","type":"inject","z":"8943aa69.5a2268","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":180,"wires":[["40cd2824.86f598"]]},{"id":"23babe1f.2085b2","type":"debug","z":"8943aa69.5a2268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":160,"wires":[]},{"id":"40cd2824.86f598","type":"function","z":"8943aa69.5a2268","name":"","func":"msg.payload = {\"greet\":\"Hello World\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":180,"wires":[["23babe1f.2085b2"]]}]